aiohappyeyeballs==2.4.3
aiohttp==3.11.2
aiosignal==1.3.1
attrs==24.2.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
frozenlist==1.5.0
idna==3.10
lxml==5.3.0
lz4==4.3.3
lzallright==0.2.4
multidict==6.1.0
pakler @ git+https://github.com/AT0myks/pakler.git@for-archive
propcache==0.2.0
pybcl==1.0.0
pycramfs==1.1.0
pyfdt==0.3
PySquashfsImage==0.9.0
python-dateutil==2.9.0.post0
python-lzo==1.15
reolinkfw @ git+https://github.com/AT0myks/reolink-fw.git@94c3f90d324643885c5ae9d2c232ddd5f7b0cc21
requests==2.32.3
six==1.16.0
ubi-reader==0.8.9
urllib3==2.2.3
waybackpy==3.0.6
yarl==1.17.1
zstandard==0.23.0
